
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto'),
		local('Roboto-Regular'),
		url('../assets/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Roboto_400.woff') format('woff'),
		url('../assets/fonts/Roboto_400.woff2') format('woff2'),
		url('../assets/fonts/Roboto_400.svg#Roboto') format('svg'),
		url('../assets/fonts/Roboto_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		url('../assets/fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Roboto_700.woff') format('woff'),
		url('../assets/fonts/Roboto_700.woff2') format('woff2'),
		url('../assets/fonts/Roboto_700.svg#Roboto') format('svg'),
		url('../assets/fonts/Roboto_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		url('../assets/fonts/Lato_400.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Lato_400.woff') format('woff'),
		url('../assets/fonts/Lato_400.woff2') format('woff2'),
		url('../assets/fonts/Lato_400.svg#Lato') format('svg'),
		url('../assets/fonts/Lato_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lato Bold'),
		local('Lato-Bold'),
		url('../assets/fonts/Lato_700.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Lato_700.woff') format('woff'),
		url('../assets/fonts/Lato_700.woff2') format('woff2'),
		url('../assets/fonts/Lato_700.svg#Lato') format('svg'),
		url('../assets/fonts/Lato_700.ttf') format('truetype');
}
@font-face {
	font-family: 'T-Star';
	font-style: normal;
	font-weight: normal;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		url('../assets/fonts/T-Star-medium-webfont.eot') format('embedded-opentype'),
		url('../assets/fonts/T-Star-medium-webfont.woff') format('woff'),
		url('../assets/fonts/T-Star-medium-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: bold;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		url('../assets/fonts/T-Star-bold-webfont.eot') format('embedded-opentype'),
		url('../assets/fonts/T-Star-bold-webfont.woff') format('woff'),
		url('../assets/fonts/T-Star-bold-webfont.ttf') format('truetype');
}


