/* General Styles */

a {
    cursor: pointer;
    text-decoration: none;
    color: #6f7274;
}

em {
    font-style: italic;
}

html {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    height: 100%;
    margin:0;
    padding:0;
    background: #fdfdfd;
    color: #2e2c2c;
}

p {
    line-height: 1.3em; 
    margin-bottom: 1em;
}

hr {
    border: 1px solid #eee;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}

/* Buttons */

.pure-button {
    border-radius: 5px;
    border: 1px solid #dfdedd;
}

.red-button {
    background-color: #ac2029;
    color: #fafafa;
    font-weight: bold;
}

/* General classes */

.clickable {
    cursor: pointer;
}

.img-responsive {
    width: 100%;
}

.spacer {
    padding: 0.5em;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.in-place:hover {
    padding: 0 2px;
    border: 2px dashed #dddddd;
}

.flash {
    animation: flasher 1s linear;
}

@keyframes flasher {  
    0% { background: #eaebeb; }
    50% { opacity: 0.0; }
    100% {
        background: auto;
        opacity: 1;
    }
}

/* Info boxes */

.info-box {
    margin: 0 12px;
}

.info-box .title,
.carousel .title {
    display: block;
    border-radius: 5px 5px 0 0;
    border: 1px solid #dfdedd;
    height: 50px;
    background-color: #eaebeb;
}

.info-box .title .glyph {
    color: #6f7274;
    font-size: 1.3em;
    margin-left: 0.5em; 
}

.title-text {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 50px;
    margin-left: 0.5em;
}

.info-box .text,
.carousel .projects {
    border-radius: 0 0 5px 5px;
    border: 1px solid #dfdedd;
    border-top: none;
    padding: 12px;
    font-size: 0.9em;
    height: 160px;
}

.info-box .text p {
    margin-bottom: 1em;
}

/* Top Bar */

.go-home {
    /*
    background: url("/static/tiny-logo.png");
    display: block;
    width: 27px;
    height: 26px;
    */
    font-size: 1.8em;
    color: #fafafa;
}

.go-home:hover {
    /* 
    background: url("/static/tiny-logo-hover.png"); 
    */
    color: #eee;
}

a.go-home:hover {
    color: #eee;
}

#top-bar {
    background: #ae272b;
    height: 28px;
}

#top-bar .pure-menu ul.pure-menu-list {
    display: block;
    font-size: 0.9em;
    line-height: 28px;
    height: 28px;
    width: 1170px;
    margin: 0 auto;
}


#top-bar .pure-menu ul.pure-menu-list input {
    width: 95%;
    border: none;
    background: #64131a;
    color: #fafafa;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 0.1em 0.5em;
    color: #b0afaf;
    font-weight: bold;
}

#top-bar .pure-menu-link {
    padding: 0;
    text-align: center;
    color: #fafafa;
}

#top-bar .pure-menu-link:hover {
    color: #ae272b;
}

#top-bar .pure-menu ul.pure-menu-list .pure-menu-item {
    font-weight: bold;
}

.pure-menu-horizontal .pure-menu-children {
    width: 100%;
    background: #ae272b;
}

/* Search */

#search-results {
    display: block;
    position: absolute;
}

/* Footer */

.footer {
    background: #efefef;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Content */

.content {
    width: 1170px;
    margin: 0 auto;
    padding: 1em 0 90px 0;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

/* Landing page */

#bb-title {
    height: 116px;
}

#bb-title .logo {
    display: inline-block;
    width: 121px;
    height: 116px;
    background-image: url("../static/logo.png");
}

#bb-title span {
    display: inline-block;
    margin-left: 0.5em;
    color: #5b5859;
    font-weight: bold;
    font-size: 4em;
}

#bb-subtitle {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    margin: 1em 0;
    color: #6f7274;
}

#run {
    margin: 5em 0;
}

#run .pure-button {
    margin: 0 auto;
}

.beetle {
    position: absolute;
    margin-top: -1.5em;
}

/* Project carousel */

.carousel {
    margin-bottom: 1em;
}

.carousel .title .title-text {
    margin-left: 1em;
}

.carousel .arrow a {
    font-size: 2em;
    line-height: 145px;
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    color: #dadbdb;
}

.carousel .arrow a:hover {
    color: #6f7274;
}

.carousel .project {
    position: relative;
    text-align: center;
}

.carousel .project .thumbnail {
    width: 160px;
    height: 120px;
    border-radius: 5px;
    opacity: 0.9;
}

.carousel .project .thumbnail:hover {
    box-shadow: 0px 0px 0px 2px #6f7274;
    opacity: 1;
}

.carousel .project.empty .thumbnail {
    display: none;
}

.carousel .project .name {
    margin-top: 6px;
}

.carousel .project .author {
    display: block;
}

.carousel .project.empty .name {
    display: inline-block;
    border: 2px dashed #dddddd;
    border-radius: 5px;
    height: 120px;
    width: 160px;
}

.carousel .project.empty .author {
    display: none;
}

.carousel.fade .project {
    opacity: 0;
}

.carousel .project {
    transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
}

/* Project Browser */

.browser {
    padding: 15px;
    border: 1px solid #dfdedd;
    margin-bottom: 1em;
}

.browser .search input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
    border: 1px solid #dfdedd;
    border-radius: 5px;
    padding: 0.25em 1em;
    margin-bottom: 1em;
}

.browser .project-list {
    margin: 1em 0;
    height: 20em;
    overflow-y: scroll;
}

.browser .project-item {
    padding: 0.1em 0 0.1em 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    border: 2px solid transparent;
}

.browser .project-item:hover {
    border: 2px dashed #eaebeb;
}

.browser .project-item.selected {
    background-color: #eaebeb;
}

.browser .bottom-controls .pure-button {
    width: 90%;
}

.browser .big-thumbnail {
    margin-top: 4em;
}

/* Forms */

.fail {
    background: rgba(255,0,0,0.2);
}

/* Project and user pages */

.project-container {
    background: #f8f8f8;
    padding: 16px 40px 40px 40px;
}

.project span, .user span {
    display: block;
}

.project .title-text, .user .title-text {
    margin-left: 0;
}

.project .details {
    position: relative;
}

.project .details .pure-button {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.big-thumbnail {
    margin: 10px 0;
    width: 480px;
    height: 360px;
}

span.notes-title {
    line-height: 50px;
    font-weight: bold;
    margin-top: 24px;
}

span.author {
    font-weight: bold;
}

.stats span {
    line-height: 2em;
}

.liked {
    color: #ac2029;
}

.user .details {
    margin-top: 10px;
}

.user .details span {
    line-height: 2em;
}

.user .about {
    line-height: 1.3em;
}

.user .info {
    margin-bottom: 2em;
}

/* Project not found */

.not-found {
    margin-top: 50px;
}

.not-found img {
    margin: 0 auto;
    width: 350px;
    display: block;
}

/* Explore */

.explore-contents {
    padding-left: 20px;
}

.explore-contents p {
    margin-bottom: 1em;
}

/* Examples */

.primer span,
.primer img,
.primer a {
    display: block;
}

.primer img {
    border: 1px solid #999;
    margin-bottom: 0.5em;
}

.primer a {
    margin-left: 0.5em;
}

/* Custom alerts */
.customalert_body a:hover {
    color: #ac2029;
}

/* Migration */

#project-list {
    display: none;
}

#project-list form {
    padding-left: 1em;
}

#project-list input {
    margin-right: 0.5em;
}

#import-result {
    display: none;
}

#import-result pre {
    font-family: monospace;
    border: 1px solid #999;
    padding: 1em;
    background: #f8f8f8;
}
