/* General Styles */

a {
    cursor: pointer;
    text-decoration: none;
    color: #6f7274;
}

em {
    font-style: italic;
}

html {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    height: 100%;
    margin:0;
    padding:0;
    background: #fdfdfd;
    color: #2e2c2c;
}

p {
    line-height: 1.3em; 
    margin-bottom: 1em;
}

hr {
    border: 1px solid #eee;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}

/* Buttons */

.pure-button {
    border-radius: 5px;
    border: 1px solid #dfdedd;
}

.red-button {
    background-color: #ac2029;
    color: #fafafa;
    font-weight: bold;
}

/* General classes */

.clickable {
    cursor: pointer;
}

.img-responsive {
    width: 100%;
}

.spacer {
    padding: 0.5em;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.in-place:hover {
    padding: 0 2px;
    border: 2px dashed #dddddd;
}

pre.proto-in-place,
pre.in-place {
    font-family: sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.flash {
    animation: flasher 1s linear;
}

@keyframes flasher {  
    0% { background: #eaebeb; }
    50% { opacity: 0.0; }
    100% {
        background: auto;
        opacity: 1;
    }
}

#loading {
    display: none;
    z-index: 10;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    color: #FFFFFF;
    left: 0;
    top: 0;
    font-size: 3em;
}

#loading .vertical-centerer {
    position: relative;
    height: 100%;
}

#loading .fa-li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fileinput {
    display: inline;
}

.fileinput input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Info boxes */

.info-box {
    margin: 0 12px;
}

.info-box .title,
.carousel .title {
    display: block;
    border-radius: 5px 5px 0 0;
    border: 1px solid #dfdedd;
    height: 50px;
    background-color: #eaebeb;
}

.info-box .title .glyph {
    color: #6f7274;
    font-size: 1.3em;
    margin-left: 0.5em; 
}

.title-text {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 50px;
    margin-left: 0.5em;
}

.show-all {
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

.info-box .text,
.carousel .projects {
    border-radius: 0 0 5px 5px;
    border: 1px solid #dfdedd;
    border-top: none;
    padding: 12px;
    font-size: 0.9em;
}

.info-box .text p {
    margin-bottom: 1em;
}

/* Top Bar */

.go-home {
    background: url("/static/tiny-logo.png");
    display: block;
    width: 25px;
    height: 24px;
}

.go-home:hover {
    background: url("/static/tiny-logo-hover.png"); 
}

a.go-home:hover {
    color: #eee;
}

#top-bar {
    background: #ae272b;
    height: 28px;
}

#top-bar .pure-menu ul.pure-menu-list {
    display: block;
    font-size: 0.9em;
    line-height: 28px;
    height: 28px;
    width: 1170px;
    margin: 0 auto;
}

#top-bar .pure-menu-link {
    padding: 0;
    text-align: center;
    color: #fafafa;
}

#top-bar .pure-menu-link:hover {
    color: #ae272b;
}

#top-bar .pure-menu ul.pure-menu-list .pure-menu-item {
    font-weight: bold;
}

.pure-menu-horizontal .pure-menu-children {
    width: 100%;
    background: #ae272b;
}

/* Search */

#top-bar .pure-menu ul.pure-menu-list input {
    width: 100%;
    border: none;
    background: #64131a;
    color: #fafafa;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 0.1em 0.5em;
    color: #b0afaf;
    font-weight: bold;
}

#top-bar div.search {
    z-index: 1;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 2px solid #ae272b;
    border-top: none;
    border-radius: 3px;
}

#search-results {
    display: none;
    letter-spacing: 0em;
    background: #64131a;
    margin-top: -2px;
}

#search-results li {
    padding: 0 5px;
}

#search-results hr {
    margin: 0;
    border-color: #ae272b;
}

#search-results a {
    color: #b0afaf;
    display: block;
}

#search-results a:hover {
    color: #fafafa;
    background-color: #ae272b;
}

/* Footer */

.footer {
    background: #efefef;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Content */

.content {
    z-index: 0;
    width: 1170px;
    margin: 0 auto;
    padding: 1em 0 90px 0;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

/* Landing page */

#bb-title {
    height: 116px;
}

#bb-title .logo {
    display: inline-block;
    width: 121px;
    height: 116px;
    background-image: url("../static/logo.png");
}

#bb-title span {
    display: inline-block;
    margin-left: 0.5em;
    color: #5b5859;
    font-weight: bold;
    font-size: 4em;
}

#bb-subtitle {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    margin: 1em 0;
    color: #6f7274;
}

.info-box.landing .text {
    border-top: 1px solid #dfdedd;
    border-radius: 5px;
}

.info-box.landing p {
    text-align: center;
    margin-top: 1em;
    font-size: 1.3em;
    color: #6f7274;
}

.landing img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

.info-box.landing {
    margin-bottom: 2em;
}

.subheader {
    position: relative;
}

#run {
    position: absolute;
    right: 0;
    top: 1em;
}

#run .pure-button {
    position: absolute;
    right: 3.5em;
    top: 1.5em;
    width: 300px;
    height: 100px;
    color: #ae272b;
    text-align: left;
}

#run .pure-button .text {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 1em;
    line-height: 1em;
}

.beetle {
    pointer-events: none;
    position: absolute;
    top: -1em;
    right: 0;
}

/* Project grid and carousel */

.carousel {
    margin-bottom: 1em;
}

.carousel .title .title-text {
    margin-left: 1em;
}

.carousel .arrow a {
    font-size: 2em;
    line-height: 145px;
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    color: #dadbdb;
}

.grid .arrow {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

.grid .arrow a {
    font-size: 2em;
    color: #dadbdb;
}

.grid .arrow a:hover,
.carousel .arrow a:hover {
    color: #6f7274;
}

.grid .projects {
    font-size: 0.9em;
}

.grid .project,
.carousel .project {
    position: relative;
    text-align: center;
}

.grid .project {
    margin-bottom: 1em;
}

.grid .project .thumbnail,
.carousel .project .thumbnail {
    width: 160px;
    height: 120px;
    border-radius: 5px;
    opacity: 0.9;
}

.grid .project .thumbnail:hover,
.carousel .project .thumbnail:hover {
    box-shadow: 0px 0px 0px 2px #6f7274;
    opacity: 1;
}

.carousel .project.empty .thumbnail {
    display: none;
}

.grid .project .name,
.carousel .project .name {
    margin-top: 6px;
}

.grid .project .author,
.carousel .project .author {
    display: block;
}

.carousel .project.empty .name {
    display: inline-block;
    border: 2px dashed #dddddd;
    border-radius: 5px;
    height: 120px;
    width: 160px;
}

.carousel .project.empty .author {
    display: none;
}

.carousel.fade .project {
    opacity: 0;
}

.carousel .project {
    transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
}

/* Project Browser */

.browser {
    padding: 15px;
    border: 1px solid #dfdedd;
    margin-bottom: 1em;
}

.browser .search input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
    border: 1px solid #dfdedd;
    border-radius: 5px;
    padding: 0.25em 1em;
    margin-bottom: 1em;
}

.browser .project-list {
    margin: 1em 0;
    height: 20em;
    overflow-y: scroll;
}

.browser .project-item {
    padding: 0.1em 0 0.1em 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    border: 2px solid transparent;
}

.browser .project-item:hover {
    border: 2px dashed #eaebeb;
}

.browser .project-item.selected {
    background-color: #eaebeb;
}

.browser .project-item .yes {
    color: #008000;
}

.browser .project-item .no {
    color: #CE0F0F;
}

.browser .bottom-controls .pure-button {
    width: 90%;
}

.browser .big-thumbnail {
    margin-top: 4em;
}

/* Forms */

.fail {
    background: rgba(255,0,0,0.2);
}

/* Project and user pages */

.project-container {
    background: #f8f8f8;
    padding: 16px 40px 40px 40px;
}

.project span,
.user span {
    display: block;
}

.carousel span {
    display: inline-block; /* except here... */
}

.project .title-text, .user .title-text {
    margin-left: 0;
}

.project .details {
    position: relative;
}

.project .details .pure-button {
    width: 100%;
}

.big-thumbnail {
    margin: 10px 0;
    width: 480px;
    height: 360px;
    border: 2px solid #2e2c2c;
    position: relative;
}

.big-thumbnail img {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.featured {
    border: 2px solid #ae272b;
}

.featured .feat-button {
    display: none;
}

.big-thumbnail .buttons {
    position: absolute;
    top: 0;
    text-align: center;
    width: 480px;
    height: 360px;
    line-height: 360px;
    visibility: hidden;
}
.big-thumbnail:hover .buttons {
    visibility: visible;
}

span.notes-title {
    line-height: 50px;
    font-weight: bold;
    margin-top: 24px;
}

span.notes {
    height: 360px;
    margin-bottom: 12px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 5px;
    overflow-y: auto;
    background: #fdfdfd;
}

span.notes pre {
    height: 340px;
}

span.author {
    font-weight: bold;
}

.stats {
    margin-top: 2em;
}

.stats span {
    line-height: 2em;
}

.liked {
    color: #ac2029;
}

.user .details {
    margin-top: 10px;
}

.user .details span {
    line-height: 2em;
}

.user .about {
    line-height: 1.3em;
}

.user .info {
    margin-bottom: 2em;
}

/* Project not found */

.not-found {
    margin-top: 50px;
}

.not-found img {
    margin: 0 auto;
    width: 350px;
    display: block;
}

/* Explore */

.explore-contents {
    padding-left: 20px;
}

.explore-contents p {
    margin-bottom: 1em;
}

/* Examples */

.primer span,
.primer img,
.primer a {
    display: block;
}

.primer img {
    border: 1px solid #999;
    margin-bottom: 0.5em;
}

.primer a {
    margin-left: 0.5em;
}

/* Custom alerts */
.customalert_body a:hover {
    color: #ac2029;
}

/* Migration */

#project-list {
    display: none;
}

#project-list form {
    padding-left: 1em;
}

#project-list input {
    margin-right: 0.5em;
}

#import-result {
    display: none;
}

#import-result pre {
    font-family: monospace;
    border: 1px solid #999;
    padding: 1em;
    background: #f8f8f8;
}

/* TOS */
.tos ul {
    margin: 1.5em;
    list-style: circle;
}

.tos li {
    margin: 0.5em;
}

/* Admin */
.admin {
    padding: 2em;
    margin: 2em 0;
    border: 2px solid #ac2029;
    border-radius: 4px;
    background: rgba(255,0,0,0.1);
}

/* Stats */

.stats {
    padding-left: 2em;
    margin: 0;
}

.comments {margin-top:2em}
.comment-item {margin:2em 0em}
.comment-item .date{color:gray;font-size:0.8em}

.gravatar {vertical-align:top;border-radius: 50%;padding-top:1px}
textarea.in-place {
	width:100%;
    padding: 0 2px;
    border: 2px dashed #dddddd;
}

